body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(100, 65, 164);
	background-repeat: repeat;
	background-size: 100% auto;
	font-family: Dimitri;
	font-size: 18px;
	width: 100%;
	height: 100%;
	position: absolute;
}

.header {
	margin-top: -400px;
	color: rgb(255,255,255);
	font-family: Helvetica Neue;
}

.channel1 {
	margin-left: 120px;
	color: rgb(255,255,255);
	font-family: Helvetica;
}

.channel2 {
	margin-left: 450px;
	/*margin-left: 700px; */
	color: rgb(255,255,255);
	font-family: Helvetica;
}


.channelEntry {
	margin-top:10px;
}

.channelEntry:focus {
	border: 1px solid black;
}

.name {
	color: rgb(255,255,255);
	font-family: Helvetica;
}

.submit {
	margin-top: 10px;
	background: rgb(255,255,255);
	color: rgb(100,65,164);
}

.submit:hover {
	background: rgb(0,0,0);
}

.submitdiv {
	margin-left: 55px;
}

.submitdiv2 {
	margin-left: 615px;
}

.video1 {
	margin-top: 50px;
	margin-left: -145px;
	float: middle;
	position: absolute;
}

.chat1 {
	margin-top: 455px;
	margin-left: -145px;
	float: middle;
	position: absolute;
}

.video2 {
	margin-top: 50px;
	margin-left: 565px;
	float: middle;
	position: absolute;
}

.chat2 {
	margin-top: 455px;
	margin-left: 565px;
	float: middle;
	position: absolute;
}